{% load pipeline %}
{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>Welcome to my site</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    {% stylesheet 'bundle' %}
  <body class="p3">
    <main class="flex flex-wrap border border-teal">
      <header class="bg-teal white px2 col-12">
        <h1 class="m0">Welcome to my site</h1>
      </header>
      <section class="col-8 border-box p2">
        <img src="{% static 'underconstruction.gif' %}" class="align-middle">
        Under Construction
      </section>
      <section class="col-4 border-box border-left border-teal">
        <div class="p2">
          <img src="{% static 'underconstruction.gif' %}" class="align-middle">
          Under Construction
        </div>
        <div class="shoutbox">
          <h2 class="bg-teal white m0 px2">Shoutbox</h2>
          <ul class="messages list-reset m0">
          {% for message in messages %}
            <li class="message border-bottom border-silver p2" title="{{ message.sent_at|date:'r' }}">
              <strong>{{ message.name }}</strong>
              {{ message.text }}
            </li>
          {% endfor %}
          </ul>
          <form class="p2 flex">
            <input class="input border-box m0 mr1 col-4" type="text" name="name" placeholder="Name">
            <input class="input border-box m0 mr1 col-8" type="text" name="text" placeholder="Message">
            <button class="btn btn-primary bg-teal">Submit</button>
          </form>
        </div>
      </section>
    </main>
    {% javascript 'bundle' %}
